<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>😀 Movie Force</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/<li></li>bs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.3/respond.min.js"></script>
    <![endif]-->

</head>


<body>
    <div class="container-fluid">
        <header>

        </header>
        <main>
            <div id="movieBox">
                <div class="row"> 
                    <div class="col-md-6 col-md-offset-3">
                        <p class="movie_question"><span id="movieFeature">{{prediction}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-xs-offset-3 col-sm-offset-3 col-md-offset-3">
                        <button class="btn btn-success btn-lg answerBtn">TRUE</button>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <button class="btn btn-success btn-lg answerBtn">FALSE</button>
                    </div>
                </div>
            </div>
            <div id="movieGuess">
                <div class="row">
                    <h1></h1>
                    <div class="row">
                        <img id="moviePoster" src="#" height="428" width="285"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="the-basic-search">
                    <input id="movie-search" class="typeahead" type="text" placeholder="The correct movie">
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/typeahead.jquery.js"></script>

    <script type="text/javascript">
        $(function(){
            var left_idx = 1,
                right_idx = 6100,
                userInputValue = '',
                movieResponses;

            $('.answerBtn').click(function(){
                var postData = {
                    answer: $(this).text(),
                    left_idx: left_idx,
                    right_idx: right_idx
                }
                $.ajax({
                    type: 'POST',
                    url: '/movie_question',
                    data: JSON.stringify(postData),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function(response){
                    if(response.question){
                        $('#movieFeature').text(response.question);
                        left_idx = response.left_idx;
                        right_idx = response.right_idx;
                    }else if(response.my_guess){
                        $('#movieBox').css('display', 'none');
                        $('h1').text(response.my_guess);
                        $('#moviePoster').css('display', 'block');
                        $('#moviePoster').attr('src', response.poster_url);
                        // $('#the-basic-search').css('display', 'block');

                    }else{
                        console.log("Oops, I think your movie is still in production");
                    }
                });


            });



        });
    </script>

</body>

</html>
